.services__container{
    justify-content: center;
}

.services__content{
    background-color: rgb(8, 8, 8);
    color: white;
    border: 1px solid rgba(242, 234, 243, 0.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
}

.services__title{
    font-size: 4vw;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
}

.services__box{
    display: flex;
    justify-content: center;
}

.services__group{
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

.services__data{
    display: flex;
    column-gap: 0.5rem;
}

@media screen and (max-width:425px) {
    .services__content{
        background-color: rgb(8, 8, 8);
        color: white;
        border: 1px solid rgba(242, 234, 243, 0.1);
        padding: 2rem 2rem;
        border-radius: 1.25rem;
        margin: 0% 5%;
    }

    .services__data h3{
      font-size: 4vw;
    }
    .services__data p{
        font-size: 3vw;
    }
}
