.about__container{
   display : flex;
   justify-content: center;
}

.about__description{
    justify-content: center;
}

.button {
    justify-content: center;
}

@media screen and (max-width:425px) {
    .about__container{
        display : flex;
        justify-content: center;
        font-size: 3vw;
     }
}

@media screen and (min-width: 1440px) {
    .about__container{
        display : flex;
        justify-content: center;
        font-size: 1.3vw;
     }
}

