.About_Flex{
    display: flex;
    gap: 5vw;
    margin: 2% 10%;
}

.about__container{
   display : flex;
   justify-content: center;
   flex-direction: column;
   flex: 2;
}

.underline{
    border-bottom: 0.3vw solid rgb(87, 197, 201);
}
.about__description{
    margin-top: 5%;
    justify-content: center;
    margin-bottom: 5%;
    line-height: 2vw;
}

.CV_button {
    justify-content: center;
    background-color: rgb(87, 197, 201);
    color: white;
    padding: 2%;
}

.CV_button:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid rgb(87, 197, 201);
}
.title{
    color: black;
    font-size: 4vw;
    margin-bottom: 0.5rem;
}
.about_img img{
    border-radius: 50%;
    margin-top: 2%;
}
.about_img{
    flex: 1;
}

.skills{
    margin: 2% 10%;
    justify-content: center;
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
}

.skills__name{
    color: rgb(87, 197, 201);
}

.border{
    border: 2px solid rgb(87, 197, 201);
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    padding: 2vw;
    flex: calc(25% - 1.5vw);
}
 
  .border:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid white
  }
  

  .animation2{
    animation: animation2 5s forwards;
  }
  
  @keyframes animation2 {
    from {
        opacity: 0;
        transform: translateY(0);
    }
    to {
        opacity: 2;
        transform: translateY(-30%);
    }
  }

@media screen and (max-width:425px) {
    .about__container{
        display : flex;
        justify-content: center;
        font-size: 2.5vw;
     }
     .about__description{
        margin-top: 5%;
        justify-content: center;
        margin-bottom: 5%;
        line-height: 3vw;
    }
}

