.about__container{
   display : flex;
   justify-content: center;
   margin: 5%;
}

.about__description{
    justify-content: center;
}

.button {
    justify-content: center;
}

@media screen and (max-width:425px) {
    .about__container{
        display : flex;
        justify-content: center;
        margin: 5%;
        font-size: 3vw;
     }
}

