.home__content{
    display: flex;
    justify-content: center;
    margin: 15% ;
    flex-direction: column;
    text-align: center;
}

.home__Social{
    display: flex;
    column-gap: 5%;
    justify-content: center;
}

.home__social-icon{
    font-size: 1.25rem;
    color: black
}

.home__social-icon:hover{
    color:gray
}

.home__title{
    font-size: 7vw;
    margin-bottom: 0.5rem;
    color: rgb(8, 8, 8);
}


.home__subtitle{
    position: relative;
    font-size: 3vw;
    font-weight: var(--font-normal);
    color: gray;
}

@media screen and (max-width:425px) {
    .home__content{
        display: flex;
        justify-content: center;
        margin-top: 40% ;
        flex-direction: column;
        text-align: center;
    }
}


