.Contact__data{
    grid-template-columns: repeat(2 , 350px);
    column-gap: 3rem;
    justify-content: center;
}

.contact__container{
    justify-content: center;
    margin-bottom: 20%;
    color: black;
    font-style: bold;
}

#subtitle{
    color: black;
}

@media screen and (max-width:425px) {
  #section__title{
    font-size: 4vw;
    color: black;
    text-align: center;
    font-weight: 500;

  }


}