.Footer__container{
  background-color: rgb(13, 14, 13);
  color: #fdf8f8;
    padding: 20px;
  }
  
  .Footer__container p {
    margin: 0;
  }
  
  .Footer__container nav ul {
    list-style: none;
    padding: 0;
  }
  
  .Footer__container nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  .Footer__container nav ul li a {
    color: #fdf8f8;
    text-decoration: none;
  }
  
  .Footer__container nav ul li a:hover {
    text-decoration: underline;
  }
  